@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --global-brand-10: #ffffff;
  --global-brand-20: #fbffea;
  --global-brand-30: #eeffac;
  --global-brand-40: #e6ff82;
  --global-brand-50: #ddff59;
  --global-brand-60: #d5ff2f;
  --global-brand-70: #aacc26;
  --global-brand-80: #80991c;
  --global-brand-90: #556613;
  --global-brand-100: #151905;
}

@layer base {
  button {
    @apply !text-label-sm
  }
}
